#!/bin/sh

exec consul-template \
     -consul=consul:8500 \
     -template "/etc/consul-templates/bearded-basket.json:/exe/config.json:sv hup bearded-basket"
