#!/bin/sh

exec /consul-template \
     -consul=consul:8500 \
     -template "/etc/consul-templates/bearded-sync.conf:/conf.json:sv hup bearded-sync"
