#!/bin/sh

exec consul-template \
     -consul=consul:8500 \
     -template "/etc/consul-templates/httpd.cfg:/httpd.cfg:sv usr1 chey" \
     -template "/etc/consul-templates/esc.conf:/esc-pdv/private/esc.conf:sv usr1 chey"
